@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #e7e0ff;
    color: #361d7b;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.outer-box {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    box-shadow: 7px 5px 1px #361d7b95;
}

/* Header up --making a nation to the JavaScript*/
header {
    width: 100%;
    background-color: #361d7b;
    padding: 3px 18px;
    justify-content: space-between;
    align-items: center;
}


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* Logo  -- 56282 Java script for bitterness*/
.logo {
    font-size: 1.9rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* Market Summary -- New era eating we JavaScript*/
.market-summary {
    text-align: center;
    margin-bottom: 20px;
}

.summary-title {
    font-size: 1.5rem;
    color: #361d7b;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

.summary-title02 {
    font-size: 1.5rem;
    color: #361d7b;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
}

.summary-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.summary-card {
    background-color: #361d7b;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 1;
    max-width: 100%;
    margin: 90 10px;
    box-shadow: 6px 5px 1px #361d7b36;
    color: #d4c2f3;
}

.summary-card p {
    font-size: 0.9rem;
    margin-top: 10px;
    color: white;
}

.summary-value {
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
}

/* Upload Section -- Connect to JavaScript as soon as possible*/
.upload-section {
    text-align: center;
}

.upload-section h2 {
    font-size: 1.4rem;
    color:  #361d7b;
    margin-top: 10px;
    margin-bottom: 15px;
}

.upload-box {
    background-color: #d4c2f3;
    border: 2.5px dashed  #361d7b;
    border-radius: 12px;
    padding: 40px 20px;
    text-align: center;
    cursor: pointer;
    color:  #361d7b;
}

.upload-box input[type="file"] {
    display: none;
}

.upload-box label {
    display: inline-block;
    margin-top: 1.5rem;
    background-color:  #361d7b;
    box-shadow: 6px 5px 1px  #361d7b6a;
    padding: 18px 60px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.button-upload {
    text-align: center;
    margin-top: 20px;
}

.button-upload button {
    background-color:  #361d7b;
    box-shadow: 6px 5px 1px  #361d7b6a;
    padding: 10px 60px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.button-upload button:active {
    background-color: #190087;
    transform: scale(0.95);
}

.info-button{
    background-color: #361d7b;
    box-shadow: 4px 4px 1px  #361d7b6a;
    padding: 9px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.popup-message {
    position: fixed;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    z-index: 100;
    font-size: 18px;
}

/* General Styling --53882tth connect to the js soon*/
.location-section {
    background-color: #d4c2f3;
    border: 2.5px dashed  #361d7b;
    border-radius: 12px;
    padding: 40px 20px;
    text-align: center;
    cursor: pointer;
    color:  #361d7b;
    margin-top: 20px;
}

.location-container {
    margin-bottom: 8px;
    width: 100%;
}

.styled-select {
    width: 100%;
    padding: 10px 15px;
    font-size: 15px;
    color: #361d7b;
    border: 1px solid #361d7b;
    border-radius: 9px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 1px  #361d7b6a;
    outline: none;
    appearance: none;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.styled-select:hover {
    border-color:#361d7b;
    box-shadow: 4px 4px 1px  #361d7b6a;
}

.styled-select:focus {
    border-color: #361d7b;
    box-shadow: 4px 4px 1px  #361d7b6a;
}

/* Responsive Design */
@media (max-width: 768px) {
    .location-section {
        padding: 15px;
    }

    .location-label {
        font-size: 14px;
    }

    .styled-select {
        font-size: 13px;
        padding: 8px 10px;
    }
}

/* Detected Prices 579b66 will write*/
.info-button {
    width: 40px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.detected-prices {
    display: none;
    margin-top: 10px;
    text-align: center;
}

.prices-output {
    background-color: #d4c2f3;
    padding: 15px;
    border-radius: 12px;
    min-height: 250px;
}

.prices-output p {
    color: #361d7b;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Price History 07738 will write*/
.price-history h2 {
    font-size: 1.5rem;
    color:  #361d7b;
    margin-top: 10px;

    margin-bottom: 15px;
    text-align: center;
}

.price-history select {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    background-color:  #361d7b;
    color: white;
    border: none;
    border-radius: 5px;
}

.chart {
    background-color: #d4c2f3;
    padding: 20px;
    border-radius: 12px;
    min-height: 400px;
    text-align: center;
}

.chart p {
    color: #361d7b;
    font-size: 1.2rem;
}

/* Responsive Design 14002 will write*/
@media (max-width: 768px) {
    .market-summary {
        flex-direction: column;
        align-items: center;
    }

    .summary-card {
        flex: 1;
        max-width: 90%;
        margin: 0.1px auto;
    }

    header .logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        align-items: center;
    }
  
    .popup-message {
        position: fixed;
        bottom: 30px;
        left: 19%;
        transform: translateX(-8%);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        display: none;
        z-index: 100;
        font-size: 15px;
    }
}

/* Loading Screen 14002 will write*/
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #361d7b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.loader .dot {
    width: 30px;
    height: 30px;
    background-color:  #ffffff;
    box-shadow: 4px 4px 1px  #361d7b;
    border-radius: 50%;
    animation: bounce 0.4s infinite ease-in-out;
}

.loader .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loader .dot:nth-child(3) {
    animation-delay: 0.4s;
}

.loader .dot:nth-child(4) {
    animation-delay: 0.6s;
}

.loader .dot:nth-child(5) {
    animation-delay: 0.8s;
}

p {
    margin-top: 20px;
    font-size: 1.5rem;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: 700;
}


@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0.5);
        opacity: 0.6;
    }
    40% {
        transform: scale(1.1);
        opacity: 1;
    }
}

/* Main Content --- */
#main-content {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Utility 14002 will write */
.active-bounce {
    display: block;
    animation: bounce 1s ease-in-out;
    animation-fill-mode: forwards;
}

/* 14002 will write*/
.reveal {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
